*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: #fff;
  width: 100%;

  @mixin dark {
    background-color: #000;
  }
}
